# set

In [2]:
s=set()
type(s)

set

In [46]:
s={1,2,1,3,4,2,4}
s

{1, 2, 3, 4}

In [47]:
s.add(5)
s

{1, 2, 3, 4, 5}

In [48]:
As={1,2,3}
Bs={1,2}
As.difference(Bs)

{3}

In [49]:
As.intersection(Bs)

{1, 2}

In [50]:
As.union(Bs)

{1, 2, 3}

In [51]:
Bs.issubset(As)

True

In [52]:
As.issuperset(Bs)

True

In [53]:
As.remove(3)
As

{1, 2}

In [54]:
l=4
As.add(l)
As

{1, 2, 4}

In [55]:
As.pop()

1

In [60]:
As.update(Bs)
As

{1, 2, 4}

In [61]:
a={1,2,3}
b={4,5,6}
a.update(b)
a

{1, 2, 3, 4, 5, 6}

In [135]:
s={1,2,3,4,5}
t={2,4,6,8,10}
u={1}
s.pop() #deletes the first element
t.remove(4)
print(s.intersection(t))
print(s.union(t))
print(s.isdisjoint(s))
print(u.issubset(s))
print(s.issuperset(u))
print(s.symmetric_difference(t))
x=u.copy()
print("u size=",len(u))
print(x)

{2}
{2, 3, 4, 5, 6, 8, 10}
False
False
False
{3, 4, 5, 6, 8, 10}
u size= 1
{1}

# dictionary

In [73]:
d={"PANDAS":4,"NUMPY":3,"MATPLOTLIB":5}
d

{'PANDAS': 4, 'NUMPY': 3, 'MATPLOTLIB': 5}

In [74]:
d.get("PANDAS")

4

In [75]:
d['NUMPY']

3

In [76]:
d.items()

dict_items([('PANDAS', 4), ('NUMPY', 3), ('MATPLOTLIB', 5)])

In [77]:
d.keys()

dict_keys(['PANDAS', 'NUMPY', 'MATPLOTLIB'])

In [78]:
d.values()

dict_values([4, 3, 5])

In [82]:
d['BASICS']=1
d

{'PANDAS': 4, 'NUMPY': 3, 'MATPLOTLIB': 5, 'BASICS': 1}

In [84]:
d.popitem()

('BASICS', 1)

In [85]:
d

{'PANDAS': 4, 'NUMPY': 3, 'MATPLOTLIB': 5}

In [86]:
d['BASICS']=1
d

{'PANDAS': 4, 'NUMPY': 3, 'MATPLOTLIB': 5, 'BASICS': 1}

In [87]:
d.pop('BASICS')

1

In [88]:
d

{'PANDAS': 4, 'NUMPY': 3, 'MATPLOTLIB': 5}

In [92]:
d.update({"BASICS":4})
d

{'PANDAS': 4, 'NUMPY': 3, 'MATPLOTLIB': 5, 'BASICS': 4}

In [94]:
d.pop('BASICS')

4

In [95]:
d

{'PANDAS': 4, 'NUMPY': 3, 'MATPLOTLIB': 5}

In [97]:
d.get('MATPLOTLIB')

5

In [136]:
dict={1:'MONDAY',2:'TUESDAY',3:'WEDNESDAY',4:'THURSDAY',5:'FRIDAY',6:'SATURDAY'}
print(dict.items())
print(dict.keys())
print(dict.values())
print(len(dict))
dict.update({7:'SUNDAY'})
d2=dict.copy()
print(dict)

dict_items([(1, 'MONDAY'), (2, 'TUESDAY'), (3, 'WEDNESDAY'), (4, 'THURSDAY'), (5, 'FRIDAY'), (6, 'SATURDAY')])
dict_keys([1, 2, 3, 4, 5, 6])
dict_values(['MONDAY', 'TUESDAY', 'WEDNESDAY', 'THURSDAY', 'FRIDAY', 'SATURDAY'])
6
{1: 'MONDAY', 2: 'TUESDAY', 3: 'WEDNESDAY', 4: 'THURSDAY', 5: 'FRIDAY', 6: 'SATURDAY', 7: 'SUNDAY'}

In [2]:
d1={1:'a',2:'b'}
d2={3:'c',4:'d'}
d1.update(d2)
print(d1)

{1: 'a', 2: 'b', 3: 'c', 4: 'd'}

#    OOPS CONCEPTS

In [133]:
class father:
    fname='ALAIS'
    job='BJ'
    def __init__(self,id):
        self.id=id
    def put_data(self):
        print(self.id)
        print(self.fname)
        print(self.job)

In [309]:
class Animal:
    attr1='Mammal'
    def __init__(self,name):
        self.name=name
    def say(self):
        print("I AM A",self.name)

In [316]:
Tom=Animal('Dog')
Tom.say()
Tim=Animal('Cat')
Tim.say()
Python=Animal('Snake')
Python.say()

I AM A Dog
I AM A Cat
I AM A Snake

# Single Inheritance

In [334]:
class father:   #parent class
    fname='ALIAS'
    fage=18
    fjob='BJ'
class son(father):  #child class
    sname="ALIAS JR"
    sage=8
    job='BJ INTERN'
    def say(self):
        print("I AM SON OF**",self.fname)
        print("MY FATHER JOB IS**",self.fjob)
        print("MY JOB IS**",self.job)
s1=son()
s1.say()

I AM SON OF** ALIAS
MY FATHER JOB IS** BJ
MY JOB IS** BJ INTERN

# Multiple Inheritance

In [351]:
class father:   #parent class1
    fname='ALIAS'
    fage=18
    fjob='BJ'
class mother:   #parent class2
    mname='XYZ'
    mage=16
class son(father,mother):  #child class
    sname="ALIAS JR"
    sage=8
    job='BJ INTERN'
    def say(self):
        print("I AM SON OF**",self.fname," AND ",self.mname)
        print("MY FATHER JOB IS**",self.fjob)
        print("MY JOB IS**",self.job)
f=father()
m=mother()
s=son()
s.say()

I AM SON OF** ALIAS  AND  XYZ
MY FATHER JOB IS** BJ
MY JOB IS** BJ INTERN

# Multi-level Inheritance

In [355]:
class gfather:   #parent class1
    gfname='ALIAS'
    gfage=18
    gfjob='BJ SCIENTIST'
class father:
    fname='ALIAS JR 1'
    fage=8
    fjob='BJ ANALYST'
class gson(gfather,father):  #child class
    gsname="ALIAS JR 2"
    gsage=2
    gsjob='BJ INTERN'
    def say(self):
        print("I AM GRANDSON OF**",self.gfname)
        print("MY GRANDFATHER JOB IS**",self.gfjob)
        print("MY FATHER JOB IS**",self.fjob)
        print("MY JOB IS**",self.gsjob)
gf=gfather()
f=father()
gs=gson()
gs.say()

I AM GRANDSON OF** ALIAS
MY GRANDFATHER JOB IS** BJ SCIENTIST
MY FATHER JOB IS** BJ ANALYST
MY JOB IS** BJ INTERN

# Heirarchial Inheritance

In [363]:
class exam:
    total_marks=100
class cat(exam):
    tcat_marks=50
class model(exam):
    tmod_marks=75
m=model()
m.total_marks

100

# Access Modifiers

# PUBLIC     .

In [33]:
class student:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def displayage(self):
        return self.age
o1=student('ABC',18)

# PROTECTED     ._

In [35]:
class student:
    def __init__(self,name,age):
        self._name=name
        self._age=age
    def displayage(self):
        return self._age
o1=student('PQR',18)
o1._age

18

# PRIVATE      .__

In [29]:
class student:
    def __init__(self,name,age):
        self.__name=name
        self.__age=age
    def displayage(self):
        return self.__age
    
o1=student('XYZ',18)
o1.__age

AttributeError: 'student' object has no attribute '__age'

# Exception Handling

In [168]:
l=[1,2,3]
def get_val(i,arr):
    print(arr[i])
get_val(2,l)

3

In [193]:
try:
    get_val(2,l)
    get_val(1,l)
    get_val(33,l)
    get_val("hello",l)
except IndexError:
    print("Valid Index Please!!!")
except TypeError:
    print("Valid Datatype Please!!!")

3
2
Valid Index Please!!!

In [206]:
def division(a,b):
    if(b==0):
        raise Exception("***ZeroDivisionError**** Denominator =0 leads to infinity")
    else:
        print(a/b)

In [207]:
division(2,3)
division(1,0)

0.6666666666666666

Exception: ***ZeroDivisionError**** Denominator =0 leads to infinity

# Regular Expression(re)

In [208]:
import re

In [231]:
txt="hello Java"
x=re.search("av",txt)
x

In [247]:
txt2="hello Java hello Python hello Go hello C#"
y=re.findall("lo",txt2)
y

['lo', 'lo', 'lo', 'lo']

In [248]:
z=re.split("hello",txt2)
z

['', ' Java ', ' Python ', ' Go ', ' C#']

In [251]:
q=re.sub("hello","Hello",txt2)
q

'Hello Java Hello Python Hello Go Hello C#'

# PRACTICE

In [261]:
#exeception hnadling1
def div_(a,b):
    if(b==0):
        raise Exception('Denominator cannot be Zero')
    else:
        print(a/b)
div_(2,3)
div_(-4,0)

0.6666666666666666

Exception: Denominator cannot be Zero

In [274]:
#exception handling2
l=[0,1,2]
def get_val(i,arr):
    print(arr[i])
try:
    get_val(0,l)
    get_val(-4,l)
    get_val("hello",l)
except IndexError:
    print("Wrong Index given")
except TypeError:
    print("Wrong Datatype given")

0
Wrong Index given

In [284]:
#regular expression1
txt="hello Java"
x=re.search('av',txt)
x

In [291]:
#re2
txt2="hello Java hello Python hello C# hello Go"
y=re.findall('o',txt2)
y

['o', 'o', 'o', 'o', 'o', 'o']

In [292]:
#re3(split)
z=re.split("hello",txt2)
z

['', ' Java ', ' Python ', ' C# ', ' Go']

In [294]:
#re4(sub)
q=re.sub('hello','Learn',txt2)
q

'Learn Java Learn Python Learn C# Learn Go'

In [391]:
x={}
x['name']=['rajan','pragaaj','muthu']
x['age']=[36,38,38]
x

{'name': ['rajan', 'pragaaj', 'muthu'], 'age': [36, 38, 38]}

In [394]:
x.update({'name':['Rajan','Pragaaj','Muthu']})

In [397]:
x.update({'institution':['SMVEC','SMVEC','SMVEC']})

In [414]:
s1={1,2}
s2={1,4}
s1.add(6)

In [415]:
s1

{1, 2, 6}

In [417]:
s1.update(s2)
s1

{1, 2, 4, 6}

In [17]:
def d(a,b):
    if(b==0):
        raise Exception('DENOMINATOR CANNNOT BE ZERO AS IT CAUSES ZERO DIVISION ERROR')
    else:
        x=a/b
        return x
        
d(1,1)
d(2,0)

Exception: DENOMINATOR CANNNOT BE ZERO AS IT CAUSES ZERO DIVISION ERROR

In [30]:
def getval(idx,arr):
    print(arr[idx])
l=[1,2,3]
v=2
getval(v,l)

3

In [37]:
try:
    getval(1,[0,1])
    
except IndexError:
    print("requires right index")
except TypeError:
    print("requires right datatype")
finally:
    print("finally block")

1
finally block

In [51]:
import re
txt='hello world'
x=re.search('o',txt)
print(x)
txt2="hello Python hello Java hello Go hello C#"
y=re.findall('o',txt2)
print(y)
z=re.split('hello',txt2)
print(z)
q=re.sub('hello','Learn',txt2)
print(q)

<re.Match object; span=(4, 5), match='o'>
['o', 'o', 'o', 'o', 'o', 'o']
['', ' Python ', ' Java ', ' Go ', ' C#']
Learn Python Learn Java Learn Go Learn C#